h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

div {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    color: red;
    margin-top: 10px;
}