nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #28a745;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    background-color: #218838;
    color: #fff;
  }
  