/* Estilos para el contenido */
.Container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .titulo h1 {
    font-size: 2.5em;
    color: #28a745; /* Color verde principal */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cuerpo p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333; /* Texto oscuro */
    margin-bottom: 20px;
  }
  