<div class="Container">
    <div class="titulo">
        <h1>Bienvenido a Catálogo</h1>
    </div>
    <div class="cuerpo">
        <p>
        En Catálogo, nos apasiona el mundo de los videojuegos
        y nos esforzamos por ofrecer una plataforma que reúna una amplia variedad de títulos para entusiastas de todas las edades y gustos.
        </p>
        <p>
            Nuestra misión es proporcionarte una plataforma intuitiva y fácil de usar que te permita explorar, descubrir
            y disfrutar de una amplia variedad de videojuegos. Desde títulos clásicos hasta las últimas novedades,
            estamos comprometidos a ofrecerte una selección cuidadosamente curada para satisfacer todos los gustos y
            preferencias.
        </p>
        <p>
            Únete a nosotros en este viaje, donde los mundos virtuales cobran vida, las historias se entrelazan y la
            diversión nunca termina. ¡Explora, juega y sé parte de nuestra apasionada comunidad!
        </p>
    </div>
</div>