<div class="fullContainer">
    <div>
        <h3>Contáctanos</h3>
        <p>
            ¡Nos encantaría saber de ti! En nuestra misión de mejorar constantemente tu experiencia en la biblioteca de videojuegos, valoramos tus comentarios, preguntas y sugerencias.
        </p>

        <h4>Correo Electrónico:</h4>

        <p>
            Envíanos un correo electrónico a <a href="#">hola&#64;gamerepository.com</a> y nuestro equipo estará encantado de ayudarte.
        </p>

        <h4>Redes Sociales:</h4>
        <p>
            Conéctate con nosotros en nuestras redes sociales para mantenerte al tanto de las últimas noticias, actualizaciones y eventos. Síguenos en Twitter y Facebook.
        </p>

        <h4>Soporte Técnico:</h4>
        <p>
            Si tienes algún problema técnico o necesitas asistencia, nuestro equipo de soporte está listo para ayudarte. Completa el formulario de contacto a continuación y nos pondremos en contacto contigo lo antes posible.
        </p>
        <p>
            ¡Gracias por ser parte de nuestra comunidad de gamers!
        </p>
    </div>
    <app-boton-atras></app-boton-atras>
</div>