<div class="fullContainer">
    <div>
        <img src="assets\images\logo.svg">
    </div>
    <div class="titulo">
        <h3>Bienvenido a nuestra GameRepository</h3>
    </div>
    <div class="texto">
        <p>
            En nuestra apasionante biblioteca de videojuegos, nos dedicamos a ofrecerte una experiencia única y
            envolvente en el fascinante mundo de los videojuegos. Somos un equipo de entusiastas comprometidos con la
            diversidad y la calidad de la industria del gaming.
        </p>
        <p>
            Nuestra misión es proporcionarte una plataforma intuitiva y fácil de usar que te permita explorar, descubrir
            y disfrutar de una amplia variedad de videojuegos. Desde títulos clásicos hasta las últimas novedades,
            estamos comprometidos a ofrecerte una selección cuidadosamente curada para satisfacer todos los gustos y
            preferencias.
        </p>
        <p>
            Además de ser tu destino para descubrir nuevos títulos, también somos un espacio para conectar con otros
            apasionados de los videojuegos. A través de reseñas, valoraciones y experiencias compartidas, queremos
            construir una comunidad vibrante que celebre la diversidad de este emocionante medio.
        </p>
        <p>
            Únete a nosotros en este viaje, donde los mundos virtuales cobran vida, las historias se entrelazan y la
            diversión nunca termina. ¡Explora, juega y sé parte de nuestra apasionada comunidad de gamers!
        </p>
    </div>
    <app-boton-atras></app-boton-atras>
</div>