nav {
    background-color: rgba(17, 14, 23, .5);
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

.nav li a:hover {
    color: rgba(84, 4, 255, 1);
}

.user {

    display: flex;
    gap:25px;

}

.user a {
    color: white;
}